<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="../static/style/dashboard.css">
</head>
<div class="dashboard">
    {% for dataitem in device %}
    <div class="card">
        <div class="card-image">
            <figure class="image is-4by3">
            <img
                src="https://bulma.io/assets/images/placeholders/1280x960.png"
                alt="Placeholder image"
            />
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">{{device}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>