<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
    <header>
        <nav class="custom-header">
            <img src="../static/icons/lab-usine-logo.png" alt="Logo" class="header-logo">
            <div class="header-title">OpenFactory Client App</div>
        </nav>
    </header>
    <div class="main-layout">
        {% set all_devices = devices %}
        {% include "sidebar.html" %}
        {% set device = device_dataitems if device_dataitems is defined else [] %}
        {% set device_uuid = device_uuid %}
        {% include "dashboard.html" %}
    </div>
</body>
</html>